/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*global*/

a, a:visited {
    color: #1C2B32
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #1C2B32;
}

h1 {
    font-size: 5em;
}

h2 {
    padding: 25px;
    text-align: center;
    margin: 30px
}

/*///////////// 3.1 Header /////////////*/
.header-main {
    background-image: url('/assets/images/mountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content {
    margin: auto;
    max-width: 1000px;
    padding: 5% 5% 18% 5%;
}

header button {
    background-color: #1C2B32;
    color: white;
    padding: 15px;
    border-radius: 0 30px 30px 0;
    border: 1px solid #1C2B32;
}

header button:hover {
    color: #899CA0;
}

header input {
    padding: 15px 20px;
    background-color: hsl(0, 0%, 0%, 0.0);
    border-radius: 30px 0 0 30px;
    border: 1px solid #1C2B32;
    margin-right: -5px;
    margin-top: 20px;
    color: #1C2B32;

}

header input:focus {
    outline: none;
    color: white;
}

main {
    max-width: 1000px;
    margin: auto;
}

/*///////////// 3.2 Testimonial /////////////*/

.testimonial {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 15px lightgray;
    padding: 30px 50px;
    margin: 30px auto;
    text-align: left;
    position: relative;

}

.quote-icon {
    width: 20px;
    position: absolute;
    left: 20px;
    top: 30px;
}

.avatar {
    /*avatars zijn al rond, maar voor de opdracht heb ik 44/4 gedaan voor de radius*/
    /*border-radius: 11px;*/
    width: 44px;
    display: inline-block;
}

.testimonial > span {
    display: inline-block;
    margin: 10px;
    height: 44px;
}

.quote {
    height: 100%;
    line-height: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

/*///////////// 3.3 Support /////////////*/

.support-section {
    text-align: left;
}

.support-section img {
    width: 100%;
    border-radius: 10px;
}

.support-section p {
    margin: 20px;
}

.support-section button {
    background-color: #1C2B32;
    color: white;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #1C2B32;
}

.support-section button:hover {
    color: #899CA0;
}

/*///////////// 3.4 Faq /////////////*/

.faq-section {
    margin: 50px 0;
    text-align: left;
}

.faq {
    margin: 15px;
}

.faq:hover {
    cursor: pointer;
}

summary {
    margin: 10px 0;
}

summary + p {
    background-color: #899CA0;
    color: white;
    border-radius: 15px;
    padding: 20px
}

/*///////////// 3.5 Footer /////////////*/

footer {
    background-color: #1C2B32;
    color: white;
    text-align: center;
    font-size: small;
    padding: 20px;
}